---
/*
  MeteoNow is a Weather App
  Copyright (C) 2025 Mukul Kedia

  MeteoNow is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  MeteoNow is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with MeteoNow. If not, see <https://www.gnu.org/licenses/>.
*/

import Graph from "@/components/Graph.astro";
import Nav from "@/components/Nav.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Weather">
  <Nav />
  <div class="grid h-full place-items-center gap-2 2xl:grid-cols-2">
    <Graph parameter="apparent_temperature" friendlyName="Feels Like" type="spline" />
    <Graph parameter="rain" friendlyName="Rain" type="bars" />
    <Graph parameter="snowfall" friendlyName="Snow" type="bars" />
    <Graph parameter="wind_speed_10m" friendlyName="Wind Speed" type="spline" />
  </div>
</Layout>
