---
/*
  MeteoNow is a Weather App
  Copyright (C) 2025 Mukul Kedia

  MeteoNow is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  MeteoNow is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with MeteoNow. If not, see <https://www.gnu.org/licenses/>.
*/

import Themes from "@/components/Themes.astro";
import tornado from "@/assets/fontawesome/tornado.svg?raw";
import githubAlt from "@/assets/fontawesome/github-alt.svg?raw";
import wrench from "@/assets/fontawesome/wrench.svg?raw";

import SettingsModal from "./SettingsModal.astro";
---

<SettingsModal />
<nav class="navbar sticky top-0 z-50 justify-between bg-base-100/50 backdrop-blur md:justify-around">
  <a href="/" class="btn btn-ghost text-xl">
    <div set:html={tornado} class="size-4 fill-current -translate-y-0.5" />
    MeteoNow
  </a>
  <div class="flex gap-2">
    <a aria-label="Open Mukul's Github Page" href="//github.com/Mukul1127" target="_blank" class="btn btn-ghost flex gap-2">
      <div set:html={githubAlt} class="size-5 fill-current" />
      <p class="hidden sm:block">Github</p>
    </a>
    <button onclick="settingsModal.showModal()" type="button" class="btn btn-ghost flex gap-2">
      <div set:html={wrench} class="size-5 fill-current" />
      <p class="hidden sm:block">Settings</p>
    </button>
    <Themes />
  </div>
</nav>
